@model IEnumerable<Bulutfon.Sdk.Models.Message>

@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>

<p>
    @Html.ActionLink("Yeni SMS", "SendSms")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sent_as_single_sms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_planned_sms)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sent_as_single_sms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_planned_sms)
        </td>
        <td>
            @Html.ActionLink("Ayrıntılar", "Message", new { id=item.id }) 
        </td>
    </tr>
}

</table>
